.idea
cmake-build-debug
CMakeLists.txt
DeepOnion-qt.pro

src/.idea
src/CMakeLists.txt
src/cmake-build-debug/

*.tar.gz

*.exe
DeepOnion-qt
DeepOniond

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/deeponion-config.h
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/qt/*.moc
src/qt/libbitcoinqt.a
src/qt/moc_*.cpp
src/qt/plugins/mrichtexteditor/moc_*
src/qt/plugins/mrichtexteditor/ui_mrichtextedit.h
src/qt/forms/ui_*.h
src/qt/locale/*.qm

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
#*.patch
#*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg
src/*.a

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
Makefile
background.tiff*

# Unit-tests
Makefile.test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_bitcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

libbitcoinconsensus.pc
contrib/devtools/split-debug.sh
.vscode/
db4/
db-4.8.30.NC/

Makefile.Debug
Makefile.Release
deeponion-qt_plugin_import.cpp
object_script.DeepOnion-qt.Debug
object_script.DeepOnion-qt.Release
release/
